:root{
    --cor-de-fundo:#07332B;
    --verde: #C2FFF4;
    --botao-ativado: #2D665C;
    --botao-inativado: rgba(58 ,55, 94, 0.5);
    --texto-fundo: rgba(58, 55, 94, 0.3);
}
body{
    background-color: var(--cor-de-fundo);
    color: white;
}

h1{
    font-family: "Lobster", sans-serif;
}
.botao{
    background-color:var(--botao-inativado);
    color: white;
}